@font-face {
  font-family: 'Gotham Light';
  src: url("fonts/Gotham-Light.otf") format("opentype");
}

@font-face {
  font-family: 'Gotham Bold';
  src: url("fonts/Gotham-Bold.otf") format("opentype");
}

@font-face {
  font-family: 'Harry';
  src: url("fonts/harry.TTF") format("truetype");
}

@font-face {
  font-family: 'Lumos';
  src: url("fonts/lumos.TTF") format("truetype");
}


#header {
  text-align: center;
  font-family: 'Harry';
  font-size: 60px;
}

body {
  font-family: 'Gotham Light';
/*  background-color: lightgrey;*/
}

#content {
  text-align: center;
}

.book {
  display: inline-block;
  margin: 20px;
  padding: 10px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, .3);
  width: 320px;
/*  height: 440px;*/
}

.book img {
  display: block;
  margin: auto;
}

.title, .date, .cost {
  margin: 10px;
}

.title {
  text-align: center;
  font-family: "Gotham Bold";
  font-size: 25px;
}

.date, .cost {
  margin-top: 25px;
  font-size: 20px;  
}

.date {
  float: right;

}

.cost {
  float: left;

  color: #33cd7b;
  font-family: "Gotham Bold";
}

.covers {
  width: 170px;
}

.lang {
  width: 64px;
  padding: 20px;
  border: none;
  cursor: pointer;
  margin: 10px;
  outline: none;
}

.buttons {
  text-align: center;
}

.us {
  /*background: url('flags/us.png');*/
}

.de {
  background: url('flags/de.png') no-repeat;
}

.fr {
  background: url('flags/fr.png') no-repeat;
}

.en-gb {
  background: url('flags/gb.png') no-repeat;
}

.us {
  background: url('flags/us.png') no-repeat;
}

.es {
  background: url('flags/es.png') no-repeat;
}

.sv {
  background: url('flags/sv.png') no-repeat;
}

.fork {
  position: absolute; 
  top: 0; 
  left: 0; 
  border: 0;
  content:url('https://camo.githubusercontent.com/567c3a48d796e2fc06ea80409cc9dd82bf714434/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f6c6566745f6461726b626c75655f3132313632312e706e67');
}